//
// CancellationAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class CancellationAPI {
    /**
     Create Cancellation
     
     - parameter cancellation: (body)  
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func cancellationCreate(cancellation: MerchantCancellationRequest, completion: @escaping ((_ data: ApiResponse?,_ error: Error?) -> Void)) {
        cancellationCreateWithRequestBuilder(cancellation: cancellation).execute { (response, error) -> Void in
            completion(response?.body, error);
        }
    }


    /**
     Create Cancellation
     - POST /v2/cancellations
     - Mark (part of) an order as cancelled.
     - API Key:
       - type: apiKey apikey (QUERY)
       - name: apikey
     - examples: [{contentType=application/json, example={
  "Message" : "Message",
  "ValidationErrors" : {
    "key" : [ "ValidationErrors", "ValidationErrors" ]
  },
  "StatusCode" : 0,
  "Success" : true
}}]
     
     - parameter cancellation: (body)  

     - returns: RequestBuilder<ApiResponse> 
     */
    open class func cancellationCreateWithRequestBuilder(cancellation: MerchantCancellationRequest) -> RequestBuilder<ApiResponse> {
        let path = "/v2/cancellations"
        let URLString = ChannelEngineMerchantApiClientAPI.basePath + path
        let parameters = JSONEncodingHelper.encodingParameters(forEncodableObject: cancellation)

        let url = NSURLComponents(string: URLString)


        let requestBuilder: RequestBuilder<ApiResponse>.Type = ChannelEngineMerchantApiClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: (url?.string ?? URLString), parameters: parameters, isBody: true)
    }

}
