//
// ClientAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class ClientAPI {
    /**
     Get API Client
     
     - parameter language: (path) The programming language 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func clientGet(language: String, completion: @escaping ((_ data: URL?,_ error: Error?) -> Void)) {
        clientGetWithRequestBuilder(language: language).execute { (response, error) -> Void in
            completion(response?.body, error);
        }
    }


    /**
     Get API Client
     - GET /v2/clients/{language}
     - This call generates a Swagger API client and returns it as a ZIP
     - API Key:
       - type: apiKey apikey (QUERY)
       - name: apikey
     - examples: [{output=none}]
     
     - parameter language: (path) The programming language 

     - returns: RequestBuilder<URL> 
     */
    open class func clientGetWithRequestBuilder(language: String) -> RequestBuilder<URL> {
        var path = "/v2/clients/{language}"
        path = path.replacingOccurrences(of: "{language}", with: "\(language)", options: .literal, range: nil)
        let URLString = ChannelEngineApiClientAPI.basePath + path
        let parameters: [String:Any]? = nil

        let url = NSURLComponents(string: URLString)


        let requestBuilder: RequestBuilder<URL>.Type = ChannelEngineApiClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
